.search-menu-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  
  .search-menu-search-menu {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .search-menu-hamburger-menu-list {
    position: absolute;
    width: 64px;
    height: 10.98px;
    left: 47px;
    top: 70px;
    background-color: #FABE23;
    border-radius: 10px;
  }
  
  .search-menu-hamburger-menu-list-bottom {
    position: absolute;
    width: 64px;
    height: 10.98px;
    left: 47px;
    top: 88.02px;
    background-color: #FABE23;
    border-radius: 10px;
  }
  
  .search-menu-mobee1 {
    top: 8px;
    left: 652px;
    width: 152px;
    height: 152px;
    position: absolute;
  }
  .search-menu-search {
    top: 145px;
    left: 51px;
    width: 1353px;
    height: 759px;
    position: absolute;
    border-radius: 27px;
    background-color: #FFC700;
  }
  .search-menu-text {
    top: 161px;
    left: 552px;
    color: rgba(0, 0, 0, 1);
    width: 325px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: center;
    font-family: Hubballi;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .search-menu-line1 {
    top: 383.5px;
    left: 371px;
    width: 687px;
    height: 1px;
    position: absolute;
    background-color: #000000;
  }
  .search-menu-line4 {
    top: 242px;
    left: 105px;
    width: 1230px;
    height: 1px;
    position: absolute;
    background-color: #000000;
  }
  .search-menu-line2 {
    top: 652px;
    left: 384px;
    width: 688px;
    height: 1px;
    position: absolute;
    background-color: #000000;
  }
  .search-menu-text02 {
    top: 310px;
    left: 648.0440673828125px;
    color: rgba(77, 76, 76, 1);
    width: 205px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: center;
    font-family: Hubballi;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .search-menu-text04 {
    top: 438px;
    left: 642.0009765625px;
    color: rgba(78, 77, 77, 1);
    width: 221px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: center;
    font-family: Hubballi;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .search-menu-text06 {
    top: 571px;
    left: 645px;
    color: rgba(78, 77, 77, 1);
    width: 216px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: center;
    font-family: Hubballi;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .search-menu-line3 {
    top: 512.088134765625px;
    left: 376px;
    width: 688px;
    height: 1px;
    position: absolute;
    background-color: #000000;
  }
  .search-menu-text08 {
    top: 825px;
    left: 662px;
    color: rgba(255, 0, 0, 0.4399999976158142);
    width: 124px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: center;
    font-family: Hubballi;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .search-menu-searchicon {
    top: 170px;
    left: 73px;
    width: 32px;
    height: 30px;
    position: absolute;
  }
  .search-menu-arrow1 {
    top: 310px;
    left: 1024px;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 9999;
  }
  .search-menu-arrow2 {
    top: 438px;
    left: 1024px;
    width: 50px;
    height: 50px;
    position: absolute;
  }
  .search-menu-arrow3 {
    top: 571px;
    left: 1024px;
    width: 50px;
    height: 50px;
    position: absolute;
  }
  .search-menu-filtersortbutton {
    top: 159px;
    left: 1321px;
    width: 46px;
    height: 46px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .search-menu-clippathgroup {
    top: 0px;
    left: 0px;
    width: 46px;
    height: 46px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .search-menu-clip011070 {
    top: 0px;
    left: 0px;
    width: 46px;
    height: 46px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .search-menu-vector {
    top: 0px;
    left: 0px;
    width: 46px;
    height: 46px;
    position: absolute;
    background-color: #FFC700;
  }
  .search-menu-group {
    top: 8.625px;
    left: 5.749884605407715px;
    width: 34.500118255615234px;
    height: 28.75px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .search-menu-vector1 {
    top: 3.8333332538604736px;
    left: 14.375114440917969px;
    width: 20px;
    height: 2px;
    position: absolute;
    background-color: black;
  }
  .search-menu-vector2 {
    top: 23px;
    left: 3.6679782056125987e-7px;
    width: 20px;
    height: 2px;
    position: absolute;
    background-color: black;
  }
  .search-menu-vector3 {
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
  }
  .search-menu-vector4 {
    top: 19.16666603088379px;
    left: 24.91678237915039px;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
  }
  