body {
  margin: 0;
  padding: 0;
}

header {
  background-color:#FAC843;
  width: 100%;
  height: 150px;
  padding:20px;
}

.containerr {
  max-width: 1200px;
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.containerr img {
  width: 70px;
  height: 70px;
  margin-right: 80px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: "Heebo", sans-serif;
  font-size: 50px;
}

.transaction-box {
  background-color: #FFEBBA;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
  padding: 30px ;
  margin-top: 20px;
  /* display: flex; */
  align-items: flex-start;
}

.status {
  display: inline-block;
  color: #50B303;
  background-color: #D1F4C5;
  border-radius: 40px;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.store-name {
  font-weight: bold;
  font-family: "Heebo", sans-serif;
  font-size: 35px;
}

.product-details {
  display: flex;
  /* align-items: center; */
}

img {
  width: 300px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 20px;
  margin-top: 10px;
}

.info {
  flex: 1;
}

h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: "Heebo", sans-serif;
  font-size: 25px;
}

p {
  margin: 0;
  font-size: 20px;
  font-family: "Heebo", sans-serif;
  color: #888;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.details-button {
  margin-left: 10px;
  text-decoration: underline;
  background-color: #FFEBBA;
  color: black;
  padding: 5px 10px;
  margin-top: 15px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.details-button:hover {
  color: blue;
}

.review-button {
  margin-left: 10px;
  background-color: #FAC843;
  color: black;
  border-radius: 25px;
  border: none;
  padding: 5px 30px;
  font-size: 14px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.review-button:hover {
  background-color: #dfa914;
}
